<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="mysql" type="PRO6.System._ConfigurationKeysSection, rss-agregator, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
        <section name="application" type="PRO6.System._ConfigurationKeysSection, rss-agregator, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    </configSections>
    <mysql name="mysql">
        <configuration_keys>
            <add name="connection-string" value="server=localhost;user=prospero;database=prospero;password=ki9fkJ4nGiIk4nF98;" />
        </configuration_keys>
    </mysql>
    <application name="application">
        <configuration_keys>
            <add name="application-title" value="RSS Agregator" />
            <add name="application-date-format" value="yyyy-MM-dd HH:mm" />
            <add name="channel-item-text-width" value="500" />
        </configuration_keys>
    </application>
</configuration>
